body{
    background-color: rgb(184, 174, 161);
    height: 100%;
    margin: 0%;
    padding: 0%;
    }
    
    header{
        background-color: rgb(77, 67, 67);
        color: chartreuse;
        padding-top: 30px;
        min-height: 70px;
        border-bottom: rgb(248, 144, 107) 3px solid;
    }
    
    header a{
        color: cornsilk;
        text-decoration:none;
        text-transform: uppercase;
        font-size: 15px;
    }
    
    header #branding{
        float: left;
        padding: 0 30px 0 30px;
    }
    
    header #branding h1{
        margin: 0;
    } 
    
    header nav{
        float: right;
    }
    
    header ul{
        margin: 0;
        padding: 0;
    }
    
    header li{
        display: inline;
        padding: 0 30px 0 30px;
        
    }
    
    #slackUserName{
        padding: 0 30px 0 30px;
        text-align: center;
    }
    
    
    .Image img{
        width: 520px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #displayName{
        padding: 0 30px 0% 500px;
        text-transform: uppercase;
    
    }
    #dayAndTime{
        height: 200px;
        width: 500px;
        background-color: blanchedalmond;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        border: 5px solid #487e48;
    }
    
    #currentDayOfTheWeek{
    font-size: 50px;
    text-align: center;
    }
    
    #currentUTCTime{
        font-size: 50px;
        text-align: center;
    }
    
    #Track{
        height: 75px;
        width: 500px;
        background-color: cadetblue;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        border: 5px solid blueviolet;
    
    }
    
    #myTrack{
        font-size: 50px;
        text-align: center;
    }
    
    #githubURL{
        font-weight: 200px;
        color: rgb(0, 60, 255);
        text-align: center;
        text-transform: uppercase;
        margin-top: 20px;
    }
    
    footer{
        padding: 20px;
        margin-top: 20px;
        color: rgb(243, 239, 236);
        background-color: rgb(255, 94, 0);
        text-align: center;
    }